<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "YOUR-BUNDLE-ID-HERE"
        versionCode = "10" 
        version     = "1.0.0" >
        <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.5.0" />

    <name>xml</name>

    <gap:platform name="ios" />

    <description>
        google map v3 for key tester for iOS
    </description>

    <author href="https://build.phonegap.com" email="joe@gmail.com">
        Joe 
    </author>

    <!-- iOS will attempt to validate the API key you provide to GMSServices by pinging google servers.
    http://stackoverflow.com/questions/18245146/using-google-maps-on-ios/18349893#18349893 -->

    <gap:config-file platform="ios" parent="GMSServices" overwrite="true">
    <array>
        <dict>
            <key>provideAPIKey</key>
            <string>YOUR-KEY-HERE</string>
        </dict>
    </array>
    </gap:config-file>

    <!-- ************* android stuff un-tested *****************

    http://stackoverflow.com/questions/22824687/phonegap-and-google-maps-api-v3-disabled
    http://android-er.blogspot.com/2012/12/modify-androidmanifestxml-for-google.html


    <gap:config-file platform="android" parent="/manifest">

        <uses-permission 
        android:name="com.google.android.providers.gsf.permission.GMSServices"/>

        <meta-data
            android:name="com.google.android.maps.v3.API_KEY"
            android:value="--- your API Key here ---"/>

    </gap:config-file>

    -->

    <preference name="orientation" value="default" />
    <preference name="Fullscreen" value="true" />

    <!-- http://www.youtube.com/watch?v=f5cjphChWwY -->
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

    <!-- iOS only -->
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <!-- android only -->
    <preference name="splash-screen-duration" value="10000"/>
    <!-- allow app to load assets from all *.phongap.com domains -->
    <access origin="http://phonegap.com" subdomains="true" />
    <access origin="http://code.jquery.com" subdomains="true" />

    <!-- google maps domains -->
    <access origin="https://googleapis.com" subdomains="true" /> 
    <access origin="https://gstatic.com" subdomains="true" />

    <!-- whitlist app specific domains -->
    <!-- app checks google.com to see if we can reach the internet -->
    <access origin="https://google.com" subdomains="true" />
    <access origin="https://ggpht.com" subdomains="true" />      


</widget>